/*   border radius */
$radius: 0.2rem;

.tableContainer {
  width: 90%;
  height: 85%;
  position: relative;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid transparent;
  border-radius: 15px 15px 0px 0px;
}

table {
  border-collapse: collapse;
  box-shadow: 1px 5px 10px var(--box-shadow);
  background-color: white;
  text-align: left;
  font-family: Mukta, sans-serif;
  font-size: 0.9rem;
  width: 100%;

  thead {
    box-shadow: 0 5px 10px var(--box-shadow);
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 5px 2rem;
  }

  .status {
    border-radius: $radius;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;

    &Manager {
      background-color: var(--status-3-background);
      color: var(--status-3);
    }

    &User {
      background-color: var(--status-2-background);
      color: var(--status-2);
    }

    &Admin {
      background-color: var(--status-1-background);
      color: var(--status-1);
    }
  }

  .amount {
    text-align: right;
  }

  //Color alternating rows
  tr:nth-child(even) {
    background-color: #f4f6fb;
  }
}

.tableTop {
  border: 1px solid transparent;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 60px;
  background-color: var(--lightgray-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  position: absolute;
  top: 0;
  right: 0px;
}

.tableTopResults {
  display: flex;
  align-items: center;
  background-color: var(--gradient);
}

.tableTopResults select {
  width: 50px;
  margin-left: 15px;
}

.tableWrapper {
  margin-top: 60px;
  max-height: calc(100% - 60px);
  width: 100%;
  overflow: auto;
  position: relative;
}

.optionsButton {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;
}

.permissionsCell {
  position: relative;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages p {
  font-size: 0.9rem;
}

.pages svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.arrowLeft {
  margin-right: 5px;
}

.arrowRight {
  margin-left: 5px;
}
